.popup {
  position: fixed;

  left: 20%;
  top: 20%;

  width: 60%;

  border: 2px solid rgb(228, 228, 248);
  border-radius: 1em;
  box-shadow: -2px 5px 5px rgb(219, 219, 235);

  /* background-color: white; */
  background: #c2f8ff;
  background: linear-gradient(
    90deg,
    rgba(194, 248, 255, 1) 0%,
    rgba(219, 219, 255, 1) 52%
  );

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #011627;
}

.close-btn {
  border: none;
  border-radius: 0.5em;
}
