#mypopover {
  background: transparent; /* verhindert den Standardrahmen */
  border: none;
}

/* Overlay für Zentrierung */
.popup-positioner {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  pointer-events: auto;
}

/* Die eigentliche Popup-Box */
.popup-content {
  background: linear-gradient(90deg, #c2f8ff 0%, #dbdbff 52%);
  border-radius: 1em;
  padding: 1.5rem 1rem 1rem;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-sizing: border-box;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

::backdrop {
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.35);
}

/* Mobile–optimierung */
@media (max-width: 600px) {
  .popup-content {
    max-width: 90%; /* Nie breiter als der Kartenbereich */
  }
}
