.footer {
  /* ul {
    list-style: none;
  } */

  /* .footer-container {
    margin-top: 15px;
  } */

  /* .footer-container {
    height: 3.5rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .socialicon {
    /* color: white; */
    color: black;
  }

  .footer-content {
    width: 100%;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    height: 3.5rem;
    bottom: 0 !important;
    /* position: fixed; */
  }

  .socialIcons {
    height: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .bottom-navigation {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
    height: 3.5rem;
    display: none;
    background-color: black;
  }

  img {
    width: 40px;
    height: 40px;
    padding: 2px;
    filter: invert(1);
  }

  .image-active {
    display: block;
    .icon {
      color: #5fe9e0;
    }
  }

  .icon {
    font-size: 30px;
  }

  .footer-icon {
    color: white;
  }

  .footer-item {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  a {
    text-decoration: none;
  }

  @media (max-width: 650px) {
    .footer {
      /* display: none; */
      padding-bottom: 0rem;
    }
    /*  .bottom-navigation {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      padding-top: 8px;
      justify-content: center;
      align-items: center;
      justify-items: center;
    }
    .bottom-active {
      color: #5fe9e0 !important;
    }

    .nav-link {
      color: #5fe9e0;
    } */
  }
}
