@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?byih01");
  src: url("fonts/icomoon.eot?byih01#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?byih01") format("truetype"),
    url("fonts/icomoon.woff?byih01") format("woff"),
    url("fonts/icomoon.svg?byih01#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e90f";
}
.icon-sun1:before {
  content: "\e910";
}
.icon-comment-o:before {
  content: "\e911";
}
.icon-comment:before {
  content: "\e912";
}
.icon-comments:before {
  content: "\e913";
}
.icon-comments-o:before {
  content: "\e914";
}
.icon-github2:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-envelope-o:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-paper-plane:before {
  content: "\e903";
}
.icon-send1:before {
  content: "\e903";
}
.icon-at:before {
  content: "\e904";
}
.icon-chat:before {
  content: "\e915";
}
.icon-comment1:before {
  content: "\e916";
}
.icon-menu:before {
  content: "\e917";
}
.icon-clear:before {
  content: "\e918";
}
.icon-close:before {
  content: "\e918";
}
.icon-clear1:before {
  content: "\e905";
}
.icon-close1:before {
  content: "\e905";
}
.icon-logout:before {
  content: "\e906";
}
.icon-log-in:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e91a";
}
.icon-user:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-heart:before {
  content: "\e91d";
}
.icon-star:before {
  content: "\e91e";
}
.icon-chevron-right:before {
  content: "\e91f";
}
.icon-arrow-up:before {
  content: "\e920";
}
.icon-arrow-left:before {
  content: "\e921";
}
.icon-arrow-right:before {
  content: "\e922";
}
.icon-chevron-left:before {
  content: "\e923";
}
.icon-menu1:before {
  content: "\e924";
}
.icon-github1:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e907";
}
.icon-send:before {
  content: "\e908";
}
.icon-at-sign:before {
  content: "\e909";
}
.icon-log-out:before {
  content: "\e90a";
}
.icon-menu2:before {
  content: "\e925";
}
.icon-download:before {
  content: "\e90b";
}
.icon-close11:before {
  content: "\e90c";
}
.icon-home3:before {
  content: "\e926";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-search1:before {
  content: "\e986";
}
.icon-sun2:before {
  content: "\e9d4";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
